<!DOCTYPE html>
<html lang="en">
<head>
    <title>Heroku</title>
    {{- stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive', 'main') }}
    {{- javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'main') }}
</head>
<body>
    {{- body }}
</body>
</html>